<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/contato.css">
    <title>Contato - Lavanderia Automática</title>
</head>
<body>
    <header>
        <h1>Contato</h1>
        <nav>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="serviços.html">Serviços</a></li>
                <li><a href="contato.html">Contato</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="contact-info">
            <h2>Entre em contato conosco</h2>
            <p>Telefone: (85) 1998765-5679</p>
            <p>Email: contato@lavanderiaautomatica.com</p>
        </section>
    <footer>
        <p>&copy; 2024 Lavanderia Automática. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
