<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/index.css">
    <title>Lavanderia Automática</title>
</head>
<body>
    <h1>Seja muito bem vindo(a) a nossa Lavanderia Automática</h1>
    <ul class="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="serviços.html">Serviços</a></li>
        <li><a href="contato.html">Contato</a></li>
      </ul>
    <h2>Aqui você poderá lavar suas roupas de forma eficiente pratica e automática com nossas máquinas super inteligentes</h2>
    <h3>Como Funciona?</h3>

    <h4>1. Escolha a Máquina</h4>
    <p>Selecione uma máquina disponível e o tipo de lavagem desejada.</p>

    <h4>2. Insira suas Roupas</h4>
    <p>Coloque suas roupas na máquina e adicione o sabão.</p>

    <h4>3. Faça o Pagamento</h4>
    <p>Pague diretamente na máquina com cartão ou QR Code.</p>

    <h4>4. Aguarde</h4>
          <p>Acompanhe o progresso da lavagem e retire suas roupas limpas.</p>
          <p>&copy; 2024 Lavanderia Automática. Todos os direitos reservados.</p>
</body>
</html>